---
http_interactions:
- request:
    method: get
    uri: https://api.postmon.com.br/v1/cep/13876874
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Server:
      - lw
    body:
      encoding: ASCII-8BIT
      string: '{"bairro": "Jardim das Tulipas", "cidade": "S\u00e3o Jo\u00e3o da Boa
        Vista", "logradouro": "Rua Herminio Assalim", "estado_info": {"area_km2":
        "248.221,996", "codigo_ibge": "35", "nome": "S\u00e3o Paulo"}, "cep": "13876874",
        "cidade_info": {"area_km2": "516,399", "codigo_ibge": "3549102"}, "estado":
        "SP"}'
  recorded_at: Sat, 04 Aug 2018 02:10:26 GMT
recorded_with: VCR 4.0.0
